/*CSS SPHERE*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
.logo{
    width: 30px;
}

/* TITULOS */
.titulo{
    font-family: 'Arial Black','Impact';
    font-size: x-large;
    text-align: center;
}
.titulo2{
    font-family: 'Arial Black','Impact';
    font-size: large;
}
.paragrafo{
    font-family: 'Calibre','Aptos';
    font-size: medium;
}
.legenda{
    font-family: 'Arial Narrow';
    font-size: small;
}

/* CORES */
.cor1{
    color:#6400b0
}
.cor2{
color:#db00bd
}
.cor3{
color:#2207a3
}
.cor4{
color:#9a1fa5
}
.cor5{
color: #ff008a;
}

/* DISPLAY */
.linha{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border:black 2px solid;
}
.caixa{
    height: 100px;
border: gray 1px dashed;
}
.grande{
    width:100%;
}
.media{
    width:50%;
}
.pequena{
    width:33%;
}
/* Definição da cor personalizada */
.btn-indigo {
    color: #fff; /* Cor do texto do botão */
    background-color: #6366f1; /* Cor de fundo */
    border-color: #6366f1; /* Cor da borda */
  }
  
  .btn-indigo:hover {
    color: #fff; /* Cor do texto ao passar o mouse */
    background-color: #4f46e5; /* Cor de fundo ao passar o mouse */
    border-color: #4f46e5; /* Cor da borda ao passar o mouse */
  }
  
  